// BASE COLORS
$pure-white: #ffffff;
$grey: grey;

$primary:rgba(22, 136, 73, 0.8);
$primary-text: $primary;
$primary-nega: $primary;
$primary-nega-text: white;
$primary-nega-transparent: rgba(22, 136, 73, 0.2);

$secondary: teal;
$secondary-text: $secondary;
$secondary-nega: $secondary;
$secondary-nega-text: white;

$accent:rgba(17, 168, 50, 0.2);
$accent-nega-text: grey;

// Named Colors
$black: #05091e;
$blue: #46b4ff;
$gray: #90aab7;
$green: #9ef2cb;
$pink: #ffb8d9;
$orange: #ffb7a3;
$yellow: #ffdace;
$white: #fff;

// FUNCTIONAL COLORS
$bg-color: #FFFFF0;
$bg-gradiation: linear-gradient(
    330deg,
    $pure-white 0%,
    $pure-white 25%,
    rgba(195, 255, 208, 0.5) 28%,
    $pure-white 31%,
    $pure-white 37%,
    rgba(195, 255, 208, 0.5) 39%,
    $pure-white 41%,
    $pure-white
  );
$disabled-color: lightgrey;

$heading-color: #072227;
$text-color: #072227;
$link-color: $primary;