---
import { classNaming }  from "$scripts/_className"
let blk: IconHeadingBlock<string>
({ blk } = Astro.props)

const presets = {
  def: "title is-2 has-text-primary mt-2",
};

const cls = classNaming("", blk.classes, blk.preset, presets)
---

<h3 id={blk.id} class={cls}>
  {
    blk.icon !== ""
      ? <span className="icon mx-3">
          <i className={blk.icon} aria-hidden="true" />
        </span>
      : ""
  }
  {blk.$text}
</h3>

<style lang="scss">
  h3 {
    border-bottom: solid 2px teal;
  }
</style>
