---
  import { classNaming }  from "$scripts/_className"
let blk: HeadingBlock<IsSingle>
({ blk } = Astro.props)

const presets = {
  def: "title is-2 my-4",
  center: "title is-2 my-4 has-text-centered",
};

const cls = classNaming("", blk.classes, blk.preset, presets)
---

<h2 id={blk.id} class={cls}>
  {blk.$text}
</h2>
