---
import BlockControl from "$lib/Blocks/SimpleBlockControl.astro"
let itm: FlowItem<IsSingle>
let order: number
let last: boolean
({ itm, order, last } = Astro.props)
---
<div class="box">
  <div class="flow-box">
    <div class="flow-order">
      <p class="is-size-4">{order}</p>
    </div>
    <div class="flow-text">
      <BlockControl blks={itm.$blks} />
    </div>
  </div>
</div>
{ last ? "": <div class="triangle" />}

<style lang="scss">
  @use "../../../../styles/colors" as c;
  div.flow-box {
    display: flex;
  }

  div.flow-order {
    width: 5rem;
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: c.$primary-nega;
    color: c.$primary-nega-text;
    flex-grow: 0;
  }

  div.flow-text {
    width: 100%;
    padding: 1rem;
    flex-grow: 1;
  }

  div.triangle {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 15px 0 15px;
    border-color: c.$primary transparent transparent transparent;
  }
</style>
