---
import Logo from "$lib/Util/Logo.astro"
import Langsw from "./langsw.astro";
let items: NavItem[]
({items} = Astro.props)
---

<ul class="ml-1">
  {items.map(item => {
    return (
      <li>
        <a class="footer-link" href={item.link}>{item.caption}</a>
      </li>
    )
  })}
</ul>

<style lang="scss">
@use "../../../styles/colors" as c;
  a.footer-link {
    font-size: 1rem;
    color: c.$footer-text-color;
  }
</style>