---
import Logo from "$lib/Util/Logo.astro"
import Langsw from "./langsw.astro";
let items: SinglePageIndex<IsSingle>[]
({items} = Astro.props)
---

<ul class="ml-1">
  {items.map(item => {
    return (
      <li>
        <a class="footer-link" href={item.href}>{item.$title}</a>
      </li>
    )
  })}
</ul>

<style lang="scss">
@use "../../../styles/colors" as c;
  a.footer-link {
    font-size: 1rem;
    color: c.$footer-text-color;
    margin-left: 0.5rem;
    text-decoration: none;
  }
</style>