---
const { title = 'Astries Demo', description = 'Astries Demo Site' } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>{title}</title>

<link rel="icon" type="image/x-icon" href="/pict/sys/favicon64.ico" />
<link rel="stylesheet" type="text/css" href={Astro.resolve('../../styles/global.scss')} />
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" /> -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap" rel="stylesheet" />
<!-- <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous"> -->