---
import { classNaming }  from "$scripts/_className"
let blk: HeroBlock<IsSingle>
({ blk } = Astro.props)

const presets = {
  def: "",
};

const cls = classNaming("", blk.classes, blk.preset, presets)
---

<section
  class={cls}
  id="hero"
  style=`background-image: url(${blk.src});`
>
  <div class="hero-body">
    <div class="container top-title">
      <h1 class="title top-title is-size-1">
        {blk.$title}
      </h1>
      <h2 class="subtitle ml-3 mt-5 top-title">
        {blk.$subtitle}
      </h2>
      {() => {
        if (blk.cta) {
          return (<button>cta</button>)
        }
        return
      }}
    </div>
  </div>
</section>

<style>
  section#hero {
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
				padding: 8rem;
				display: flex;
				background-color: var(--t-fg);
				background-repeat: no-repeat;
				background-size: cover;
				min-height: 25vw;
				color: white;
				flex-direction: column;
				align-items: center;
				justify-content: center;
  }
  div.top-title {
    vertical-align: middle;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
  }
  h1.top-title {
    /* height: 12rem;
    font-size: 5rem; */
    font-weight: bolder;
  }
  @media (min-width: 1024px) {
    h1.top-title {
      font-size: 1.5em;
    }
  }
  /* div.top-title:hover {
    transition: opacity 0.3s;
    opacity: 0.8;
  } */
</style>
