.is-max-width-90 {
  @media  (min-width: 1023px){
    max-width: 90%;
  }
}

.is-max-width-80 {
  @media  (min-width: 1023px){
    max-width: 80%;
  }
}

.is-max-width-70 {
  @media  (min-width: 1023px){
    max-width: 70%;
  }
}

.is-max-width-60 {
  @media  (min-width: 1023px){
    max-width: 60%;
  }
}

.is-cetered {
  margin-left: auto;
  margin-right: auto;
}