// @use "./variables" as v;
@use "../../contents/_init/variables" as v;

// BASE COLORS
$primary: v.$primary;
$primary-text: v.$primary-text;
$primary-nega: v.$primary-nega;
$primary-nega-text: v.$primary-nega-text;
$primary-nega-transparent: v.$primary-nega-transparent;

$secondary:v.$secondary;
$secondary-text: v.$secondary-text;
$secondary-nega: v.$secondary-nega;
$secondary-nega-text: v.$secondary-nega-text;

$accent: v.$accent;
$accent-nega-text: v.$accent-nega-text;

// FUNCTIONAL COLORS
$bg-color: v.$bg-color;
$bg-gradiation: v.$bg-gradiation;
$disabled-color: v.$disabled-color;

$heading-color: v.$heading-color;
$text-color: v.$text-color;
$link-color: v.$link-color;

// HEADER
$navbar-background-color: $primary-nega;
$navbar-item-color: $primary-nega-text;

// FOOTER
$footer-background-color: $primary-nega;
$footer-text-color: $primary-nega-text;



// SPECIAL COLORS
a:hover {
    background-color: $accent;
    color: $accent-nega-text;
}

::selection {
	background-color: $accent;
	color: $accent-nega-text;
}

.astries-gradient-animation {
    background-image: linear-gradient(90deg, white 0%, white 50%, $primary-nega-transparent 50%, $primary-nega-transparent 100%);
    background-size: 200% 100%;
}

.astries-gradient-animation:hover {
    transition: 0.1s;
    background-position-x: -100%;
    @media  (min-width: 1023px){
        transform: scale(1.1, 1.1);
    }
}
