// @use "./variables" as v;
@use "../../contents/_init/variables" as v;

// BASE COLORS
$primary: v.$primary;
$primary-text: v.$primary-text;
$primary-nega: v.$primary-nega;
$primary-nega-text: v.$primary-nega-text;

$secondary:v.$secondary;
$secondary-text: v.$secondary-text;
$secondary-nega: v.$secondary-nega;
$secondary-nega-text: v.$secondary-nega-text;

$accent: v.$accent;
$accent-nega-text: v.$accent-nega-text;

// FUNCTIONAL COLORS
$bg-color: v.$bg-color;
$bg-gradiation: v.$bg-gradiation;
$disabled-color: v.$disabled-color;

$heading-color: v.$heading-color;
$text-color: v.$text-color;
$link-color: v.$link-color;

// HEADER
$navbar-background-color: $primary-nega;
$navbar-item-color: $primary-nega-text;
$navbar-item-hover-color: orange;

// FOOTER
$footer-background-color: $primary-nega;
$footer-text-color: $primary-nega-text;



// SPECIAL COLORS
a:hover {
    background-color: $accent;
    color: $accent-nega-text;
}

::selection {
	background-color: $accent;
	color: $accent-nega-text;
}