@use "./colors" as c;
@use "./layouts" as l;

@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/layout/_all";

// .wf-sawarabigothic { font-family: "Sawarabi Gothic"; }


:root {
	--font-mono: "Fira Mono", monospace;
	--tertiary-color: #f8f5f2;	
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
  }

// @media (min-width: 460px){
// 	html{
// 		font-size:calc((var(--unitless-min-font-size, 15) * 1px) + (calc(var(--unitless-max-font-size, 16) - var(--unitless-min-font-size, 15))) * (calc(100vw - (var(--unitless-lower-font-range, 460) * 1px))) / (calc(var(--unitless-upper-font-range, 900) - var(--unitless-lower-font-range, 460))));
// 	}
// }
// @media (min-width: 900px){
// 	html{
// 		font-size:calc(var(--unitless-max-font-size, 16) * 2px);
// 	}
// }

// Base
body {
	// font-family: 'Inter', 'system-ui', sans-serif;
	font-size: 18px;
	line-height: 2;
	min-height: 100vh;
	width: 100vw;
}

main {
	width: 95%;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
