---
import Listitem from "./listitem.astro"
let breadCrumb: BreadcrumbList[] | undefined;
({breadCrumb}=Astro.props)
---

<nav class="breadcrumb is-centered my-3" aria-label="breadcrumbs">
  {
    breadCrumb !== undefined
      ? <Listitem breadCrumb={breadCrumb} />
      : ""
  }
</nav>
