---
import Menu from "./Menu.astro";
import Contact from "./Contact.astro";
// import Posts from "../../Utils/posts.svelte";
const {
  hasMenu = true,
  hasContact = true,
  hasPosts = true
} = Astro.props
let menu: CategoryIndex<IsSingle>
({ menu } = Astro.props)
---
  
<div class="stick-menu">
  {() => {
    if (hasMenu) {
      return (<Menu menu={menu}/>)
    }
  }}

  {() => {
    if (hasContact) {
      return (<Contact />)
    }
  }}

  {() => {
    if (hasPosts) {
      return (<div>post</div>)
      // return (<Posts />)
    }
  }}
</div>

<style lang="scss">
  @use "../../../styles/colors" as c;
  div.stick-menu {
    background-color: white;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: double 1px;
    position: sticky;
    top: 1.5rem;
  }
</style>
