---
// Component Imports
import Base from '$layouts/Base.astro';
import { navs } from "$src/_envs/paths"
import { profile } from "$src/_envs/profile"
import { getContents } from "$scripts/_i18n"
import BlockControl from "$lib/Blocks/BlockControl.vue"
import Recent from "$lib/Globals/SideSticker/Recent.astro"

const direction: AstriesDirection = {
	head: {
		lang: 'ja',
		title: profile.SiteName,
		description: `${profile.SiteName}の公式Webサイトです`
	},
	hasHeaderMenu: true,
	hasFooterMenu: true,
	hasSideMenu: true,
	pagetype: 'LP',
	navigations: navs.ja
}
const page = await getContents("/", "index", "ja")
---

<Base direction={direction}>
  <section slot="main">
    <BlockControl blks={page.contents} />
    <div class="has-text-centered my-5">
      <button class="button is-large is-dark">
        <a class="is-size-3 a-in-button" href="/forms/contact-ja">お問い合わせはこちら</a>
      </button>
    </div>
    <div class="is-max-width-70 box" style="margin-left: auto; margin-right: auto;">
      <Recent />
    </div>
  </section>
</Base>

<style>
  .a-in-button {
    color: white;
  }
</style>
