---
// Component Imports
import Base from '$layouts/Base.astro';
import { navs } from "$src/_resources/navs"
import { getContents } from "$scripts/_i18n"
import BlockControl from "$lib/Blocks/BlockControl.astro"

const direction: AstriesDirection = {
	head: {
		lang: 'ja',
		title: "ASTRIES LP",
		description: "The Landing page for Astries demo"
	},
	hasHeaderMenu: true,
	hasFooterMenu: true,
	hasSideMenu: true,
	pagetype: 'LP',
	navigations: navs.ja
}
const { contents } = await getContents("/", "index", "ja")
---

<Base direction={direction}>
	<section slot="main">
    <BlockControl blks={contents} />
  </section>
</Base>
