---
import MainHead from '$lib/MainHead.astro';

---

<html lang="en">
	<head>
		<MainHead title="Jeanine White: Personal Site" description="Jeanine White: Developer, Speaker, and Writer..." />
    </head>
<body>
    <div class="aries">
        <h1>hogehoge</h1>
    </div>

</body>
</html>

<style lang="scss">
    @use "../styles/colors" as c;
    div.aries {
        background-color: c.$primary-nega;
        color: c.$primary-nega-text;
    }
</style>