---
import { navs } from "$src/_envs/paths"
import Base from "$layouts/Base.astro"
import BlockControl from "$lib/Blocks/BlockControl.vue"

import { eachBlock, arrayBlocks } from "$src/scripts/_testBlocks"

const direction: AstriesDirection = {
	head: {
		lang: 'ja',
		title: "ASTRIES GB",
		description: "The Landing page for Astries demo"
	},
	hasHeaderMenu: true,
	hasFooterMenu: true,
	hasSideMenu: true,
	pagetype: 'LeftMain',
	navigations: navs.ja
}
---

<Base direction={direction}>
  <scetion slot="top">
    <!-- <FilledBar title={page.$title} /> -->
  </scetion>
  <section slot="main">
    <!-- <BlockControl blks={[eachBlock.rels]} /> -->
	<BlockControl blks={arrayBlocks} />
  </section>
  <section slot="side" style="width: 100%; height: 100%">
    <div>SIDE</div>
  </section>
</Base>