---
import { classNaming }  from "$scripts/_className"
import BlockControl from "$lib/Blocks/SimpleBlockControl.astro"
// import TableHead from "./TableHead.astro"
// import TableRow2 from "./TableRow.astro"
import TableBody from "./TableBody.astro"
let blk: TableBlock<IsSingle>
({ blk } = Astro.props)

const presets = {
  def: "",
};

const cls = classNaming("", blk.classes, blk.preset, presets)
console.log(blk)
---

<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    {() => {
        if (blk.$th && blk.$th.length > 0) {
          return (     
              <tr>
                {blk.$th.map(hc => (
                  <th>{hc}</th>
                ))}
              </tr>
          )
        }
        return "" 
      }
    }  
  </thead>
  <tbody>
    <tr>
      <td>aaaa</td>
      <td>bbbb</td>
    </tr>
  </tbody>
  <!-- <TableBody rows={blk.$trs} /> -->
</table>