---
import BlockControl from "$lib/Blocks/SimpleBlockControl.astro"
let row: SimpleBlock<IsSingle>[]
({ row } = Astro.props)
---

{() => {
  return (     
    <tr>
      {row.map(rc => (
        <td>{rc}</td>
      ))}
    </tr>
  )
}