---
import TocCard from "./tocCard.astro";
let toc: NavigationMenu;
({ toc } = Astro.props);
// console.log(toc);
---

<section class="section">
  <h1 class="title is-1 has-text-centered">{toc.category}</h1>
  <div
    class="content is-flex is-flex-wrap-wrap is-justify-content-space-around is-align-items-stretch"
  >
    {
      toc.items.map((item) => {
        return <TocCard item={item} />;
      })
    }
  </div>
</section>

<style>
  /* div.card-index {
    float: left;
  } */
</style>
