---
  let item: SinglePageIndex<IsSingle>;
  ({ item } = Astro.props)
---

<a class="navbar-item is-size-5" href={item.fullpath}>{item.$title}</a>

<style lang="scss">
  a.navbar-item {
    text-decoration: none;
  }
</style>