---
import Eachnav from "./eachnav.astro";
let menu: NavigationMenu;
({menu} = Astro.props)
---

<div class="navbar-item has-dropdown is-hoverable mx-4">
  <a
    class="navbar-link is-arrowless is-size-3-desktop is-size-4-touch"
    href={menu.root}
  >
    {menu.category}
  </a>
  <div class="navbar-dropdown">
    {menu.items.map(item => {
      return (<Eachnav {item} />)
    })}
  </div>
</div>

<style lang="scss">
nav#astries-header{
  background-color: aqua;
  .navbar-item {
    color:brown;
  }
}

</style>