---
let menu: NavigationMenu;
({menu} = Astro.props)
---
  
<a class="navbar-link is-arrowless is-size-4-desktop is-size-5-touch" href={menu.root}>{menu.category}</a>

<style lang="scss">
  a.navbar-link {
    text-decoration: none;
  }
</style>