---
let breadCrumb: BreadcrumbList[];
({breadCrumb}=Astro.props)
---
<ul>
  {breadCrumb.slice(0, breadCrumb.length -1).map(crumb => {
    return (
      <li><a href={crumb.item}>{crumb.name}</a></li>
    )
  })}
  <li class="is-active">
    <a href="/">{breadCrumb[breadCrumb.length-1].name}</a>
  </li>
</ul>

<style>
  a {
    color: blueviolet;
  }
</style>
  