---
import Logo from "$lib/Util/Logo.astro"
---

<header class="header-menu">
  <nav role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/"><Logo /></a>
    </div>
    <ul>
      <li>Blog</li>
      <li>
        <div>Services<i class="fa fa-angle-down" />
          <ul>
            <li>Graphic Design</li>
            <li>Website Design</li>
            <li>Python Programming</li>
            <li>PHP Programming</li>
          </ul>
        </div>
      </li>
      <li>Tutorials
        <i class="fa fa-angle-down" />
        <ul>
          <li>CSS
            <span>12 Available</span>
          </li>
          <li>HTML
            <span>9 Available</span>
          </li>
          <li>Jade
            <span>3 Available</span>
          </li>
          <li>Javascript
            <span>21 Available</span>
          </li>
          <li>Design
            <span>37 Available</span>
          </li>
        </ul>
      </li>
      <li>Contact</li>
    </ul>
  </nav>
</header>

<style lang="scss">
  @use "../../../styles/colors" as c;
  //variables
  $background-purple: #EEEEEE;
  $subtle-white: white;
  $subtle-grey: #f2f2f2;
  $masked-grey: #333;
  $blue: #F03861;

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header-menu {
    box-shadow: 0 4px 12px rgba(c.$accent, 0.1);
    width: 100vw;
    background-color: $subtle-white;
    padding-top: 0.5rem;
    padding-left: 1rem;

    div.navbar-brand {
      margin-right: 1rem;
      display: inline-block;
      float: left;
    }
    
    ul {
      text-align: right;
      font-size: 0;
      list-style-type: none;
      
      // initial li
      li {
        font-size: 1rem;
        font-weight: 400;
        color: $masked-grey;
        
        display: inline-block;
        padding: 15px;
        position: relative;
        
        &.logo {
          padding-bottom: 0px;
        }

        // secondary ul
        ul {
          text-align: right;
          display: none;
        }
        
        // initial li:hover
        &:hover {
          cursor: pointer;
          background-color: $subtle-grey;
          
          // secondary ul visibility change
          ul {
            display: block;
            margin-top: 15px;            
            /* width: 200px; */
            left: 0;
            position: absolute;
            
            // secondary li
            li {
              display: block;
              background-color: darken($subtle-white, 7%);
              
              &:hover {
                background-color: darken($subtle-white, 10%);
              }
            }
          }
        } 
      }
    }
  }
</style>