---
import { classNaming }  from "$scripts/_className"
import FlowItm from "./FlowItem.astro"
let blk: FlowBlock<IsSingle>
({ blk } = Astro.props)

const presets = {
  def: "",
};

const cls = classNaming("content", blk.classes, blk.preset, presets)
---
<div id={blk.id} class={cls}>
  {() => {
    let order = 0;
    return blk.$items.map(itm => {
      order++
      return (
        <FlowItm itm={itm} order={order} last={order > blk.$items.length - 1}/>
      )
    })
  }}
</div>
