---
import MainHead from './MainHead.astro';
let head: AstriesHead;
({ head } = Astro.props);
---

<html lang={head.lang}>
	<head>
		<MainHead title={head.title} description={head.description} />
		<!-- <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet"> -->
	</head>
	<body class="astries-main">
    <slot />
	</body>
</html>
