---
import WithMenu from './WithMenu.astro';
let head: AstriesHead;
({ head } = Astro.props);
---

<WithMenu head={head}>
  <main class="astries-base astries-base-fluid container">
    <slot/>
  </main>
</WithMenu>
